*{
    margin: 0;
    padding: 0;
}
/*gallary*/
.bodi{
        background-image: url('./images/anne.jpeg');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center; 
}
.image-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* space between images */
  }

  .image-row img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* keeps image cropped nicely */
    border-radius: 30px; 
    margin-top: 20px;
  }